.hover-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #7434dba6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hover-button:hover {
    background-color: #d832dea8; /* Darker shade on hover */
  }
  